{% extends 'appvet/base.html' %}

{% load static %}

{% block Contenido%}

   
    <h2> BUSCADOR DE PRODUCTOS </h2>
    

<form action="" method="GET">
    <p>
        Producto: <input type="text" name="tipo">
        <input type="submit" value="Buscar!">
    </p>
</form>

{% if tipo %}
<h4> Resultados: </h4>
<ul>
    {% for t in tipo %}
    
        <li>{{t.tipo}} - Marca: {{t.marca}} - Precio: ${{t.precio}}</li>
    {% endfor %}
</ul>  
    {% else %}
        <h5> No hay coincidencias </h5>
{% endif %}





{% endblock %}